/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  /* background-color: lightgreen; */
  background-image: url("https://thumbs.dreamstime.com/t/pixel-brick-wall-art-texture-old-cracked-bricks-83695317.jpg");
  background-repeat: repeat;
  color: lightgreen;
}

body a {
  color: white;
}


 #torch_r {
   object-position: right;
   -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  padding-left:63%;
 }

#intro_script {
  text-align: center;
}
.scroll {
  background-repeat: no-repeat;
position: absolute;
padding-top: 10%;

}

.wrapper {
  display: block;
  color: lightgreen;
  padding: 40px;
  margin: -10px 0;
  border-top: 10px solid black;
  border-bottom: 10px solid black;

}

.look {
  margin-top: 30px;
  margin-left: 50%;

}
#look-around {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: lightgreen;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
}

.player-stats {
  font-weight: bolder;

  margin-left: 80%;
  position: fixed;
  padding: 5px;
  color: lightgreen;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;


}

#sign_up {
 color: yellow;
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
}
#sign_out, #start {
 color: yellow;
  font-family: fantasy;
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
}

#sign_in {
  float: right;
 color: yellow;
  font-family: fantasy;
  font-size: 20px;
text-align: right;
}
.flame {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/06c9396a-128b-42a2-9d0c-9a9520a8e641/d7y80ip-d0f7323d-14ec-4c57-9991-65646e346e41.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA2YzkzOTZhLTEyOGItNDJhMi05ZDBjLTlhOTUyMGE4ZTY0MVwvZDd5ODBpcC1kMGY3MzIzZC0xNGVjLTRjNTctOTk5MS02NTY0NmUzNDZlNDEuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.NEgGau1BgS8GnE0P1LxNpWjXFfH-aOtyXlDEZxITppI");
  overflow: hidden;
      background-size: cover;
      background-position: center;
  position:absolute;
  bottom: 0;
width: 100%;
}

.title {
  text-align: center;
  font-size: 100px;
  font-family: 'MedievalSharp', cursive;
}
#exit {
  text-align: center;
  font-size: 20px;
  font-family: 'MedievalSharp', cursive;
  color: lightblue;
}
